.splash-screen {
  padding-block: 4rem;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--secondary);
  color: var(--primary);
  position: fixed;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;

  &__image {
    width: 100%;
    flex-grow: 4;
    background: url($pins) no-repeat center top;
    background-size: 100%;
    transition: background-position 0.5s ease-in-out;

    img {
      mask-image: linear-gradient(
        to bottom,
        rgb(0, 0, 0, 1) 50%,
        transparent 100%
      );
      width: 70%;
    }
  }

  &[data-page="2"] .splash-screen__image {
    background-position: center -300px;
  }

  &[data-page="3"] .splash-screen__image {
    background-position: center -600px;
  }

  &[data-page="4"] .splash-screen__image {
    background-position: center -900px;
  }

  &[data-page="5"] .splash-screen__image {
    background-position: center -1200px;
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__content {
    padding: 1rem;
  }

  &__actions {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    gap: 0.5rem;
  }

  &__indicators {
    .d-icon {
      opacity: 0.5;
    }

    .active .d-icon {
      opacity: 1;
      color: var(--tertiary);
    }
  }
}

html.splash-screen-active {
  overflow: hidden;

  .splash-screen {
    display: flex;
  }
}
