.splash-screen {
  padding-block: 4rem;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--secondary);
  color: var(--primary);
  position: fixed;
  text-align: center;

  flex-direction: column;
  justify-content: flex-end;

  &__image {
    width: 100%;
    flex-grow: 4;

    img {
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 50%,
        transparent 100%
      );
      width: 70%;
    }
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__content {
    padding: 1rem;
  }

  &__actions {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    gap: 0.5rem;
  }

  &__indicators {
    .d-icon {
      opacity: 0.5;
    }
    .active .d-icon {
      opacity: 1;
      color: var(--tertiary);
    }
  }
}

html.splash-screen-active {
  overflow: hidden;

  .splash-screen {
    display: flex;
  }
}
